@page "/todos"
@using TodoService = WebApp.Services.TodoService
@using Core.Dto
@inject HttpClient Http
@inject TodoService TodoService

<PageTitle>Weather</PageTitle>

<h1>Weather</h1>

<p>This component demonstrates fetching data from the server.</p>

@if (_todos == null)
{
    <p>
        <em>Loading...</em>
    </p>
}
else
{
    <table class="table">
        <thead>
        <tr>
            <th>Date</th>
            <th>Temp. (C)</th>
            <th>Temp. (F)</th>
            <th>Summary</th>
        </tr>
        </thead>
        <tbody>
        @foreach (var todo in _todos)
        {
            <tr>
                <td>@todo.Id</td>
                <td>@todo.Title</td>
                <td>@todo.Description</td>
                <td>@todo.CreatedAt</td>
            </tr>
        }
        </tbody>
    </table>
}

@code {
    private TodoHeaderDto[]? _todos;

    protected override async Task OnInitializedAsync()
    {
        var todos = await TodoService.GetAllAsync();
        _todos = todos.ToArray();
    }
}